# jversion.h has 9!:14'' info
# jversion-x.h default is in repo
# jversion.h is your local edit copy and is not in repo
jsrc/jversion.h

# unix
*.o
*.so
!asm/*.o

# temp scripts used for debugging
*makevs/jdll/*.ijs
foo.ijs
jj.ijs
test*.txt
*.tmp

# windows - most output files go to %userprofile%\jbld\jout
# some end up in the project folder and are marked here
# sometimes entire project subfolders are created that should not be in repo
*.sdf
*.opensdf
*.suo
**/jconsole/.vs/
**/jdll/**/.vs/
**/tsdll/**/.vs/
*.ilk
*.pdb
*.exp

# following are no longer required and prevent template folders
# **/jconsole/**/
# **/jdll/**/
# **/tsdll/**/

# windows - need to run with different versions of vs
# following files are in repo for vs2013
# but are not pushed to avoid getting unwanted user specific changes
# clone will have to copy from .template files to work
*.sln*
*.vcxproj*
!*.template

# mac
.DS_Store

#android
android/libs/
android/obj/
android/jni/jsrc
android/jni/clapack
android/jni/pcre
android/jni/pcre2
android/jni/tsdll
android/jni/hostdefs
android/jni/netdefs
clapack/
pcre/

release
/test/temp.ijs

# build folders
bin/
make2/
jlibrary/bin/
jlibrary/bin32/
jlibrary/system/
jlibrary/system/config/
jlibrary/system/main/
jlibrary/tools/

#github workflow action folders
j64/

# addons
jlibrary/addons
!jlibrary/addons/data/jfiles
!jlibrary/addons/data/jmf
!jlibrary/addons/dev/fold
!jlibrary/addons/dev/lu

