/* jsoftware d3 css */
path{stroke: steelblue;stroke-width: 1;fill: none;}
.axis{shape-rendering:crispEdges;}
.x.axis line{stroke:lightgrey;}
.x.axis .minor{stroke-opacity:.5;}
.x.axis path{display:none;}
.y.axis line, .y.axis path{fill:none;stroke:#000;}
.slice text{font-size:16pt;}