name: EMUAVX

on:
 push:
  branches: [ master ]

# trigger workflow on file change
#on:
# push:
#  paths:
#   - 'version.txt'

#  if: ${{ true }}

jobs:

# linux no pyxes -------------------------------------------------------
 jelinuxpyx0:
  name: JE (Linux no pyxes)
  if: ${{ true }}
  runs-on: ubuntu-22.04
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux no pyxes)
     run: |
      script/install-lnx.sh
      sudo mkdir -p /usr/lib/x86_64-linux-gnu
      sudo mkdir -p /usr/lib/i386-linux-gnu
      sudo cp openmp/obj/linux/x86_64/libomp.so.5 /usr/lib/x86_64-linux-gnu/libomp.so.5
      sudo cp openmp/obj/linux/i386/libomp.so.5 /usr/lib/i386-linux-gnu/libomp.so.5

   - name: Commit
     run: script/commit.sh ${{ github.sha }} ${{ github.actor }}

   - name: Build JE (Linux no pyxes)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 3
     run: |
      script/buildga.sh linux || exit 1

   - name: Test JE (Linux no pyxes)
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 3
     run: |
      script/testga.sh linux || exit 1

# linux no emu ---------------------------------------------------------
 jelinuxemu0:
  name: JE (Linux no emu)
  if: ${{ true }}
  runs-on: ubuntu-22.04
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux no emu)
     run: |
      script/install-lnx.sh
      sudo mkdir -p /usr/lib/x86_64-linux-gnu
      sudo mkdir -p /usr/lib/i386-linux-gnu
      sudo cp openmp/obj/linux/x86_64/libomp.so.5 /usr/lib/x86_64-linux-gnu/libomp.so.5
      sudo cp openmp/obj/linux/i386/libomp.so.5 /usr/lib/i386-linux-gnu/libomp.so.5

   - name: Commit
     run: script/commit.sh ${{ github.sha }} ${{ github.actor }}

   - name: Build JE (Linux no emu)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/buildga.sh linux || exit 1

   - name: Test JE (Linux no emu)
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/testga.sh linux || exit 1

# linux no pyxes/emu ---------------------------------------------------
 jelinuxpyxemu0:
  name: JE (Linux no pyxes/emu)
  if: ${{ true }}
  runs-on: ubuntu-22.04
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux no pyxes/emu)
     run: |
      script/install-lnx.sh
      sudo mkdir -p /usr/lib/x86_64-linux-gnu
      sudo mkdir -p /usr/lib/i386-linux-gnu
      sudo cp openmp/obj/linux/x86_64/libomp.so.5 /usr/lib/x86_64-linux-gnu/libomp.so.5
      sudo cp openmp/obj/linux/i386/libomp.so.5 /usr/lib/i386-linux-gnu/libomp.so.5

   - name: Commit
     run: script/commit.sh ${{ github.sha }} ${{ github.actor }}

   - name: Build JE (Linux no pyxes/emu)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/buildga.sh linux || exit 1

   - name: Test JE (Linux no pyxes/emu)
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/testga.sh linux || exit 1

# macOS arm64 no pyxes -------------------------------------------------
 jemacosarmpyx0:
  name: JE (macOS arm64 no pyxes)
  if: ${{ true }}
  runs-on: macos-15
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (macOS arm64 no pyxes)
     run: |
      bash script/install-mac.sh

   - name: Build JE (macOS arm64 no pyxes)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 0
      USE_EMU_AVX: 1
     run: |
      script/buildga.sh darwin || exit 1

   - name: Test JE (macOS arm64 no pyxes)
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
     run: |
      script/testga.sh darwin || exit 1

# macOS arm64 no emu ---------------------------------------------------
 jemacosarmemu0:
  name: JE (macOS arm64 no emu)
  if: ${{ true }}
  runs-on: macos-15
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (macOS arm64 no emu)
     run: |
      bash script/install-mac.sh

   - name: Build JE (macOS arm64 no emu)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 1
      USE_EMU_AVX: 0
     run: |
      script/buildga.sh darwin || exit 1

   - name: Test JE (macOS arm64 no emu)
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
     run: |
      script/testga.sh darwin || exit 1

# macOS arm64 no pyxes/emu ---------------------------------------------
 jemacosarmpyxemu0:
  name: JE (macOS arm64 no pyxes/emu)
  if: ${{ true }}
  runs-on: macos-15
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (macOS arm64 no pyxes/emu)
     run: |
      bash script/install-mac.sh

   - name: Build JE (macOS arm64 no pyxes/emu)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 0
      USE_EMU_AVX: 0
     run: |
      script/buildga.sh darwin || exit 1

   - name: Test JE (macOS arm64 no pyxes/emu)
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
     run: |
      script/testga.sh darwin || exit 1

# rpi64arm no pyxes ----------------------------------------------------
 jerpi64armpyx0:
  name: JE (Linux arm64 no pyxes)
  if: ${{ true }}
  runs-on: ubuntu-24.04-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux arm64 no pyxes)
     run: |
      script/install-rpi.sh

   - name: Build JE (Linux arm64 no pyxes)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 3
     run: |
      script/buildga.sh raspberry arm64 || exit 1

   - name: Test JE (Linux arm64 no pyxes)
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 3
     run: |
      script/testga.sh raspberry arm64 || exit 1

# rpi64arm no emu ------------------------------------------------------
 jerpi64armemu0:
  name: JE (Linux arm64 no emu)
  if: ${{ true }}
  runs-on: ubuntu-24.04-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux arm64 no emu)
     run: |
      script/install-rpi.sh

   - name: Build JE (Linux arm64 no emu)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/buildga.sh raspberry arm64 || exit 1

   - name: Test JE (Linux arm64 no emu)
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/testga.sh raspberry arm64 || exit 1

# rpi64arm no pyxes/emu ------------------------------------------------
 jerpi64armpyxemu0:
  name: JE (Linux arm64 no pyxes/emu)
  if: ${{ true }}
  runs-on: ubuntu-24.04-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux arm64 no pyxes/emu)
     run: |
      script/install-rpi.sh

   - name: Build JE (Linux arm64 no pyxes/emu)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/buildga.sh raspberry arm64 || exit 1

   - name: Test JE (Linux arm64 no pyxes/emu)
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 3
     run: |
      script/testga.sh raspberry arm64 || exit 1

# windows no pyxes -----------------------------------------------------
 jewinpyx0:
  name: JE (Windows no pyxes)
  if: ${{ true }}
  runs-on: windows-2022
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Windows no pyxes)
     uses: ilammy/msvc-dev-cmd@v1
     with:
      arch: amd64

   - name: Build JE (Windows no pyxes)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 0
     run: |
      script\buildga.cmd x64

   - name: Test JE (Windows no pyxes)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 0
     run: |
      script\testga.cmd x64

# windows no emu -------------------------------------------------------
 jewinemu0:
  name: JE (Windows no emu)
  if: ${{ true }}
  runs-on: windows-2022
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Windows no emu)
     uses: ilammy/msvc-dev-cmd@v1
     with:
      arch: amd64

   - name: Build JE (Windows no emu)
     shell: cmd
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\buildga.cmd x64

   - name: Test JE (Windows no emu)
     shell: cmd
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\testga.cmd x64

# windows no pyxes/emu -------------------------------------------------
 jewinpyxemu0:
  name: JE (Windows no pyxes/emu)
  if: ${{ true }}
  runs-on: windows-2022
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Windows no pyxes/emu)
     uses: ilammy/msvc-dev-cmd@v1
     with:
      arch: amd64

   - name: Build JE (Windows no pyxes/emu)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\buildga.cmd x64

   - name: Test JE (Windows no pyxes/emu)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\testga.cmd x64

# windows arm64 no pyxes ------------------------------------------------
 jewinarm64pyx0:
  name: JE (Windows arm64 no pyxes)
  if: ${{ true }}
  runs-on: windows-11-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Windows arm64 no pyxes)
     uses: ilammy/msvc-dev-cmd@v1
     with:
      arch: amd64_arm64

   - name: Build JE (Windows arm64 no pyxes)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 0
     run: |
      script\buildga.cmd arm64

   - name: Test JE (Windows arm64 no pyxes)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 1
      _DEBUG: 0
     run: |
      script\testga.cmd arm64

# windows arm64 no emu --------------------------------------------------
 jewinarm64emu0:
  name: JE (Windows arm64 no emu)
  if: ${{ true }}
  runs-on: windows-11-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Windows arm64 no emu)
     uses: ilammy/msvc-dev-cmd@v1
     with:
      arch: amd64_arm64

   - name: Build JE (Windows arm64 no emu)
     shell: cmd
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\buildga.cmd arm64

   - name: Test JE (Windows arm64 no emu)
     shell: cmd
     env:
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\testga.cmd arm64

# windows arm64 no pyxes/emu --------------------------------------------
 jewinarm64pyxemu0:
  name: JE (Windows arm64 no pyxes/emu)
  if: ${{ true }}
  runs-on: windows-11-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Windows arm64 no pyxes/emu)
     uses: ilammy/msvc-dev-cmd@v1
     with:
      arch: amd64_arm64

   - name: Build JE (Windows arm64 no pyxes/emu)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\buildga.cmd arm64

   - name: Test JE (Windows arm64 no pyxes/emu)
     shell: cmd
     env:
      USE_PYXES: 0
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script\testga.cmd arm64

# linux32 --------------------------------------------------------------
 jelinux32pyx1:
  name: JE (Linux32 pyxes)
  if: ${{ true }}
  runs-on: ubuntu-22.04
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux32 pyxes)
     run: |
      script/install-lnx.sh
      sudo mkdir -p /usr/lib/x86_64-linux-gnu
      sudo mkdir -p /usr/lib/i386-linux-gnu
      sudo cp openmp/obj/linux/x86_64/libomp.so.5 /usr/lib/x86_64-linux-gnu/libomp.so.5
      sudo cp openmp/obj/linux/i386/libomp.so.5 /usr/lib/i386-linux-gnu/libomp.so.5

   - name: Build JE (Linux32 pyxes)
     env:
      CC: clang
      USE_SLEEF: 1
      USE_OPENMP: 0
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script/buildga.sh linux32 || exit 1

# rpi32arm -------------------------------------------------------------
 jerpi32armpyx1:
  name: JE (Linux arm32 pyxes)
  if: ${{ true }}
  runs-on: ubuntu-24.04-arm
  steps:
   - name: Checkout Git repository
     uses: actions/checkout@v4

   - name: Setup Environment (Linux arm32 pyxes)
     run: |
      script/install-rpi.sh

   - name: Build JE (Linux arm32 pyxes)
     env:
      CC: arm-linux-gnueabihf-gcc
      USE_SLEEF: 1
      USE_SLEEFQUAD: 1
      USE_OPENMP: 0
      USE_PYXES: 1
      USE_EMU_AVX: 0
      _DEBUG: 0
     run: |
      script/buildga.sh raspberry armv6l || exit 1
